[Desktop Entry]
Type=Application
Version=1.0
Name=KAMBOS File Encryptor
GenericName=Argon2id-KDF AES-256 File Encryptor
Comment=Argon2id-KDF AES-256 Encryption & Ransomware Detection Tool
Exec=/usr/bin/kambos %f
Icon=kambos
Terminal=false
Categories=Utility;Security;GTK;
StartupNotify=true
MimeType=application/x-kambos-encrypted;application/octet-stream;
Keywords=Encryption;Security;Argon2;KDF;File;GTK;AES;Ransomware;
